:root {
    --invader-color: #00ff00;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.space-invader {
    width: 33rem;
    height: 24rem;
    background-color: black;
 
}
.space-invader-header {
    display: flex;
}
.antenna-left {
    width: 6rem;
    height: 6rem;
    margin-left: 6rem;

}
.antenna-left-top {
    width: 3rem;
    height: 3rem;
    background-color: var(--invader-color);
}
.antenna-left-bottom {
    width: 3rem;
    height: 3rem;
    background-color: var(--invader-color);
    margin-left: 3rem;
}
.antenna-right {
    width: 6rem;
    height: 6rem;
    margin-left: 9rem;
}
.antenna-right-top {
    width: 3rem;
    height: 3rem;
    background-color: var(--invader-color);
    margin-left: 3rem;
}
.antenna-right-bottom {
    width: 3rem;
    height: 3rem;
    background-color: var(--invader-color);
}
.space-invader-main {
    display: flex;
}
.space-invader-left {
    width: 6rem;
    height: 12rem;
    display: flex;
}
.space-invader-left-1 {
    width: 3rem;
    height: 9rem;
    background-color: var(--invader-color);
    margin-top: 6rem;
}
.space-invader-left-2 {
    width: 3rem;
    height: 6rem;
    background-color: var(--invader-color);
    margin-top: 3rem;
}
.space-invader-body {
    width: 21rem;
    height: 12rem;
    background-color: var(--invader-color);
    align-self: center;
    display: flex;
}
.space-eye-left {
    width: 3rem;
    height: 3rem;
    background-color: black;
    margin-left: 3rem;
    margin-top: 3rem;
}
.space-eye-right {
    width: 3rem;
    height: 3rem;
    background-color: black;
    margin-left: 9rem;
    margin-top: 3rem;
}
.space-invader-right {
    width: 6rem;
    height: 12rem;
    display: flex;
}
.space-invader-right-1 {
    width: 3rem;
    height: 6rem;
    background-color: var(--invader-color);
    margin-top: 3rem;
}
.space-invader-right-2 {
    width: 3rem;
    height: 9rem;
    background-color: var(--invader-color);
    margin-top: 6rem;
}
.space-invader-footer {
    display: flex;
}
.space-footer-left {
    width: 9rem;
    height: 6rem;
}
.space-footer-left-top {
    width: 3rem;
    height: 3rem;
    background-color: var(--invader-color);
    margin-left: 6rem;
}
.space-footer-left-bottom {
    width: 6rem;
    height: 3rem;
    background-color: var(--invader-color);
    margin-left: 9rem;
}
.space-footer-right {
    width: 9rem;
    height: 6rem;
}
.space-footer-right-top {
    width: 3rem;
    height: 3rem;
    background-color: var(--invader-color);
    margin-left: 15rem;
}
.space-footer-right-bottom {
    width: 6rem;
    height: 3rem;
    background-color: var(--invader-color);
    margin-left: 9rem;
}